body, html {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    height: 100%;
    overflow: scroll;
    margin-top:0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.small-logo-wrapper { 
    background-color:white;
    padding: 0px 20px 0px 20px;
}

.small-logo {
    /* height: 50px; */
    width: 150px;

}


.title-bar {
    color: white;
    font-size: 20;
    text-align: center;
    display: flex;
    background-color: black;
}

.menu {
    width: 100%;
    height: 57.5px;
    display: flex;
    /* margin: 20px 10px 5px 10px; */
    vertical-align: center;
    
    
}

.left-menu {
    margin-right: 20px
}
.right-menu {
    margin-left: 20px
}
.moto {
    color: orange;
    font-size: 25px;
}

.cbutton {
    /* color: black; */
    font-size: 15px;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    padding: 20px;
}

.cbutton:hover {
    background-color: #ffffff22
}


.content {
    background-color: black;
    /* height: 100%; */
    width:100%;
    background-image: url(./images/home/1.jpg);
    background-repeat: no-repeat;
    background-size: 100%  ;
    background-position-x: center
}

.content-wrapper {
    height: 100%;
}

.arrow {
    vertical-align: -webkit-baseline-middle;
    height: 100%;
    cursor: pointer;
    position: relative;
    top: -100px
}

.left-arrow {
    float: left;

}

.right-arrow {
    float: right;
    text-align: middle;
}


.bottom-info {
    /* display: inline-flex; */
    background-color: black;
    width: 100%;
}

.bottom-links {
    display: inline-flex;
    width: 100%;
    color: white;
}

.bottom-item {
    width: 100%;
    text-align: center;
    font-size: 20px

}


.white {
    color: white;
    text-decoration: none
}


.trademark {
    font-size: 9px
}
/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #00000000; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }