.body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    align-content: center
    
}



.title-bar {
    color: black;
    font-size: 20;
    text-align: center
    
}

.moto {
    color: orange;
    font-size: 25px;
}

.menu-bar {
    align-content: center;

    display: flex;
}

.cbutton {
    background-color: cadetblue;
    border: 1px solid white;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    color: white;
    /* user-select: none */

}

.cbutton:hover {
    background-color: darkgray
}

.cbutton:c